@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-main,
.catalog-main {
  flex-grow: 1;
}

.page-header {
  position: relative;
}

.logo {
  display: block;
  width: 140px;
  margin-bottom: -6px;
}

.logo img {
  vertical-align: top;
  transition-duration: 0.3s;
}

.logo:hover img,
.logo:focus img {
  opacity: 0.9;
}

.logo:active img {
  opacity: 0.8;
}

.hero {
  width: 1200px;
  min-height: 485px;
  background-color: #a4cbe3;
  background-image: url("../images/background_mask.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 50%;
  background-size: contain, cover;
  margin: 0;
  padding: 51px 371px 82px;
  box-sizing: border-box;
}

.hero img {
  display: inline-block;
  vertical-align: top;
}

.subscribe,
.subscribe-catalog,
.filter-wrapper {
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #a4cbe3;
  margin: 0;
  padding: 96px 258px 104px;
}

.subscribe {
  min-height: 415px;
  box-sizing: border-box;
  background-image: url("../images/subscribe-background.jpg");
}

.filter-wrapper {
  background-image: url("../images/catalog-background.png");
  margin-bottom: 50px;
  padding: 70px;
  padding-top: 35px;
}

.subscribe form {
  text-align: center;
}

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
}

.subscribe-catalog h2 {
  color: #000000;
}

.subscribe-catalog .subscribe-catalog-description,
.subscribe p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 54px;
}

.subscribe p {
  margin-bottom: 20px;
}

.filter-wrapper h1 {
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.advantages-background,
.advantages-background-revers {
  background-color: #82b3d3;
  margin: 0;
}

.subscribe-form input,
.cost-input-wrapper input {
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 24px;
}

.cost-input-wrapper input {
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding: 12px 20px;
  background-color: #f2f2f2;
  max-width: 143px;
  max-height: 48px;
  border: none;
  box-sizing: border-box;
}

.cost-input-wrapper input:hover,
.cost-input-wrapper input:focus-visible {
  background-color: #e6e6e6;
}

.cost-input-wrapper input:disabled {
  opacity: 0.3;
}

.cost-input-wrapper:has(:disabled) {
  pointer-events: none;
}

.details,
.favority-button,
.current-favority {
  max-width: 140px;
  display: block;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  text-align: center;
  overflow-wrap: break-word;
  transition-duration: 0.3s;
}

.details {
  background-color: #756157;
  text-decoration: none;
}

.favority-button {
  background-color: #82b3d3;
}

.current-favority {
  background-color: #7db54f;
}

.nav-list a,
.social-item a,
.contacts a,
.hotel-view-item a,
.hotel-link,
.pagination-link {
  color: #000000;
  text-decoration: none;
  padding: 0;
}

.nav-item {
  min-height: 64px;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.nav-item a {
  display: inline-block;
  padding: 20px 16px;
  position: relative;
}

.hotel-link {
  transition-duration: 0.1s;
}

.hotel-link:hover,
.hotel-link:focus {
  color: #756157;
}

.hotel-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.advantages h2,
.services-title h2,
.hotels h2,
.subscribe h2,
.footer-wrapper h2,
.pagination h2,
.subscribe-catalog h2,
.cost-select-wrapper h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages h2 {
  min-width: 620px;
  margin: 0 auto 25px;
}

.services-title h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.hotels h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 147.5px;
}

.advantages-item h3,
.services-item h3,
.hotel-gallery-item h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.hotel-gallery-list h3 {
  text-transform: none;
}

.background-title h3,
.opacity-12 h3,
.opacity-20 h3 {
  margin: 0;
  padding: 0 27px;
}

.services-title p,
.hotels p {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item,
.advantages-description,
.services-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.services-description {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  text-align: center;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 15px;
}

.subscribe p,
.filter-wrapper p,
.filter-wrapper span {
  color: #ffffff;
  text-align: center;
}

.opacity-12,
.opacity-20,
.services-item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.opacity-12,
.opacity-20 {
  padding: 80px 85px;
  gap: 30px;
}

.opacity-20 {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-item {
  padding: 183px 85px 80px;
  justify-content: flex-end;
}

.housing,
.food,
.gifts {
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.housing {
  background-image: url("../icons/feature-housing.svg");
}

.food {
  background-color: #ffffff;
  background-image: url("../icons/feature-eating.svg");
}

.gifts {
  background-image: url("../icons/feature-souvenir.svg");
}

.search-hotel,
.subscribe-button {
  display: block;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
}

.search-hotel {
  margin: 0 auto;
  min-width: 376px;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.subscribe-button {
  min-width: 232px;
  max-width: 300px;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.subscribe-button:hover,
.filter-form-apply:hover,
.favority-button:hover,
.pagination-link:not(.current-pagination-link):not(.ellipsis-link):hover,
.subscribe-button:focus-visible,
.filter-form-apply:focus-visible,
.favority-button:focus-visible,
.pagination-link:not(.current-pagination-link):not(.ellipsis-link):focus-visible {
  background-color: #68a2ca;
}

.subscribe-button:active,
.filter-form-apply:active,
.favority-button:active,
.pagination-link:not(.current-pagination-link):not(.ellipsis-link):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled,
.filter-form-apply:disabled,
.current-favority:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.pagination-link:not(.current-pagination-link):hover {
  border: 1px solid #82b3d3;
}

.phone-number {
  max-width: 620px;
  font-size: 40px;
  line-height: 40px;
  transition-duration: 0.3s;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.hotel-filter-form legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.hotel-filter-form label {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.filter-form-apply,
.filter-form-reset {
  width: 191px;
  color: #ffffff;
  border: transparent;
  padding: 8px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.filter-form-apply {
  background-color: #82b3d3;
  border-radius: 4px;
  margin: 56px 0 32px;
}

.filter-form-reset {
  background-color: transparent;
  margin: 0;
}

.filter-form-reset:hover {
  opacity: 0.6;
}

.filter-form-reset:active {
  opacity: 0.3;
}

.filter-form-reset:disabled {
  opacity: 0.1;
}

.cost-select-wrapper select {
  color: #333333;
  background-color: #ffffff;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: block;
  min-width: 292px;
  min-height: 49px;
  padding: 12px 40px 12px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../icons/select_icon.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 21px;
  appearance: none;
  transition-duration: 0.3s;
}

.hotel-gallery-item .rating {
  width: 140px;
  color: #333333;
  background-color: #e5e5e5;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 0 8px;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.hotel-gallery-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.current-pagination,
.pagination-item .current-pagination-link {
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 4px;
}

.ellipsis {
  background-color: #ffffff;
}

.pagination-item .ellipsis-link {
  color: #000000;
  background-color: #ffffff;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 12px 10px;
  box-sizing: border-box;
}

/* СЕТКИ */

.nav-list,
.user-menu-list,
.advantages-list,
.services-list,
.social-list,
.breadcrumbs-list,
.hotel-view-list,
.hotel-gallery-list,
.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav {
  margin: 0;
  padding: 0 70px;
  display: flex;
  gap: 30px;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
}

.user-menu-list {
  min-width: 268px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.user-menu-link {
  min-height: 60px;
  display: block;
  padding: 22px 12px;
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.favority-link {
  text-decoration: none;
}

.search-link {
  background-image: url("../images/search.svg");
}

.favority-link {
  background-image: url("../icons/heart.svg");
}

.user-menu-link:hover,
.user-menu-link:focus {
  opacity: 0.6;
}

.user-menu-link:active {
  opacity: 0.3;
}

.like-number-icon {
  position: absolute;
  top: 12px;
  left: 20px;
  display: block;
  min-width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 100vh;
  padding: 5px 5px 5px 4px;
  text-decoration: none;
  box-sizing: border-box;
}

.current-favority:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.user-menu-item {
  width: 44px;
  text-align: center;
}

.want-here-button {
  min-width: 160px;
  margin: 14px 0 14px 20px;
  background-color: #756157;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  text-align: center;
}

.want-here {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.3s;
}

.want-here:hover,
.search-hotel:hover,
.details:hover,
.want-here:focus,
.search-hotel:focus,
.details:focus {
  background-color: #615048;
  border-radius: 4px;
}

.want-here:active,
.search-hotel:active,
.details:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages-title {
  padding: 69px 260px 44px;
  margin-bottom: 21px;
  box-sizing: border-box;
}

.advantages-main-discription {
  min-width: 651px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-background {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.advantages-background-revers {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.advantages-background-revers img {
  order: -1;
}

.advantages-background img,
.advantages-background-revers img {
  min-width: 100%;
  height: 100%;
}

.background-title h3,
.background-title p {
  color: #ffffff;
}

.background-title {
  min-height: 385px;
  margin: 0 auto;
  padding: 80px 85px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.background-title h3::after {
  content: "";
  width: 60px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  display: block;
  margin: 30px auto 0;
}

.opacity-12 h3::after,
.opacity-20 h3::after {
  content: "";
  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  display: block;
  margin: 30px auto 0;
}

.background-title p,
.opacity-12 p,
.opacity-20 p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.services-title {
  margin: 0;
  padding: 64px 345px 44px;
}

.services-title p {
  margin: 20px 0;
  padding: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.hotels {
  padding: 96px 304px;
}

.hotels p {
  margin: 20px 0;
}

.hotels-title {
  padding-bottom: 34px;
}

.subscribe h2 {
  margin-bottom: 20px;
}

.subscribe-title {
  padding-bottom: 34px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form input {
  min-width: 452px;
  height: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  box-sizing: border-box;
}

.subscribe-form input:not(:disabled):hover,
.subscribe-form input:focus-visible {
  background-color: #e6e6e6;
}

.subscribe-form input:disabled {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.3);
}

.subscribe-form:has(:disabled) {
  pointer-events: none;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  margin: 8px 0 40px;
  padding: 0;
}

.page-home {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../icons/home.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0 0 2px;
  margin: 3px 0;
  box-sizing: border-box;
  transition-duration: 0.3s;
}

.page-home:hover,
.page-home:focus {
  opacity: 0.6;
}

.page-home:active {
  opacity: 0.3;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  gap: 11px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  background-image: url("../icons/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 7px;
  height: 10px;
  margin-top: 1px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.hotel-filter-form {
  display: flex;
  gap: 70px;
}

.hotel-filter {
  min-width: 150px;
  max-width: 185px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hotel-filter-form label:last-child {
  margin-bottom: 0;
}

.living-cost {
  width: 288px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hotel-filter-form .living-cost {
  margin-left: auto;
}

.cost-input-wrapper {
  display: flex;
  gap: 2px;
  margin-bottom: 36px;
}

.input-cost-from {
  border-radius: 4px 0 0 4px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.input-cost-to {
  border-radius: 0 4px 4px 0;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.range-slider-wrapper {
  width: 100%;
  height: 20px;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 4px;
  box-sizing: border-box;
}

.range-slider-wrapper::before {
  content: "";
  position: relative;
  display: block;
  width: 286px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  top: -5px;
  left: 1px;
}

.range-slider {
  position: relative;
  width: 225px;
  height: 4px;
  background-color: #ffffff;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  top: 3px;
  display: flex;
  align-items: center;
  gap: 185px;
  margin-left: 1px;
}

.range-toggle {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: transparent;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.cost-input-wrapper .cost-from,
.cost-input-wrapper .cost-to {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 48px;
}

.cost-from span,
.cost-to span {
  color: #000000;
  opacity: 0.3;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  z-index: 1;
  align-self: center;
  padding-right: 20px;
}

.form-buttons {
  width: 191px;
  display: flex;
  flex-direction: column;
}

.form-buttons button {
  transition-duration: 0.3s;
}

.cost-select-wrapper {
  max-width: 1060px;
  display: flex;
  align-items: center;
  margin: 0 70px 40px;
  gap: 70px;
  box-sizing: border-box;
}

.cost-select-wrapper h2 {
  min-width: 338px;
  padding: 7px 0;
  margin: 0;
  margin-right: auto;
}

.cost-select-wrapper select:not(:disabled):hover {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.cost-select-wrapper select:has(.cost-select-wrapper select:disabled) {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.3);
}

.hotel-view-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tile,
.card,
.list {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-sizing: border-box;
}

.tile {
  border: 2px solid #000000;
  background-image: url("../icons/tile_icon.svg");
}

.card {
  border: 2px solid #e5e5e5;
  background-image: url("../icons/card_icon.svg");
}

.list {
  border: 2px solid #e5e5e5;
  background-image: url("../icons/list_icon.svg");
}

.hotel-gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 70px 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-gallery-item {
  max-width: 340px;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e6e6e6;
}

.image-link {
  display: block;
  margin: 0;
  grid-column: 1 / -1;
}

.image-link img {
  display: block;
  min-width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.image-link:hover img,
.image-link:focus img {
  opacity: 0.9;
}

.image-link:active img {
  opacity: 0.8;
}

.hotel-gallery-item h3 {
  grid-column: 1 / -1;
  margin: 0;
  text-align: left;
}

.hotel-cost {
  text-align: right;
}

.pagination-list {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0 70px 60px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  min-height: 40px;
  box-sizing: border-box;
}

.social-link::before {
  content: "";
  display: block;
  background-color: #83b3d3;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  transition-duration: 0.3s;
}

.vk::before {
  width: 24px;
  height: 14px;
  mask-size: 24px 14px;
  mask-image: url("../icons/vk_icon.svg");
}

.twitter::before {
  width: 18px;
  height: 15px;
  mask-size: 18px 15px;
  mask-image: url("../icons/twitter_icon.svg");
}

.youtube::before {
  width: 22px;
  height: 17px;
  mask-size: 22px 17px;
  mask-image: url("../icons/youtube_icon.svg");
}

.vk:hover::before,
.twitter:hover::before,
.youtube:hover::before,
.vk:focus::before,
.twitter:focus::before,
.youtube:focus::before {
  background-color: #68a2ca;
}

.vk:active::before,
.twitter:active::before,
.youtube:active::before {
  background-color: rgba(104, 162, 202, 0.3);
}

.footer-wrapper {
  display: flex;
  gap: 42px;
  align-items: center;
}

.social-list {
  min-width: 142px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 45px auto 35px 70px;
}

.contacts {
  padding: 5px 0;
  margin: 40px auto 30px;
  text-align: center;
}

.developer-link {
  display: block;
  margin: 40px 70px 30px auto;
}

.developer-image {
  fill: #000000;
  transition-duration: 0.3s;
}

.developer-image:hover {
  fill: #756157;
}

.developer-link:focus .developer-image {
  fill: #756157;
}

.developer-image:active {
  fill: rgba(117, 97, 87, 0.3);
}

.current::before {
  content: "";
  position: absolute;
  width: calc(100% - 32px);
  border-bottom: 2px solid #756157;
  bottom: 0;
}

.control-input {
  appearance: none;
  margin: 0;
  min-width: 20px;
  height: 20px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  top: 2px;
  border-radius: 4px;
}

.radio {
  border-radius: 50%;
}

.control-input:checked {
  background-image: url("../icons/input.svg");
  background-size: 12px 10px;
}

.living-type .radio:checked {
  background-image: url("../icons/tick.svg");
  background-size: 10px 10px;
}

.hotel-filter label:hover {
  opacity: 0.6;
}

.hotel-filter label:active,
.control-input:disabled {
  opacity: 0.3;
}

.control-input:disabled ~ .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-filter label:has(:disabled) {
  pointer-events: none;
}

.phone-number:hover,
.nav-link:hover,
.developer-link img:hover,
.phone-number:focus-visible,
.nav-link:focus-visible {
  color: #756157;
}

.phone-number:active,
.nav-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.view {
  transition-duration: 0.3s;
}

.view:hover,
.view:active {
  border: 2px solid #000000;
}

.stars {
  background-repeat: no-repeat;
  background-position: 0 50%, 24px 50%, 48px 50%, 72px 50%, 96px 50%;
}

.stars-1 {
  background-image: url("../icons/star.svg");
}

.stars-2 {
  background-image:
    url("../icons/star.svg"),
    url("../icons/star.svg");
}

.stars-3 {
  background-image:
    url("../icons/star.svg"),
    url("../icons/star.svg"),
    url("../icons/star.svg");
}

.stars-4 {
  background-image:
    url("../icons/star.svg"),
    url("../icons/star.svg"),
    url("../icons/star.svg"),
    url("../icons/star.svg");
}

.stars-5 {
  background-image:
    url("../icons/star.svg"),
    url("../icons/star.svg"),
    url("../icons/star.svg"),
    url("../icons/star.svg"),
    url("../icons/star.svg");
}

/*МОДАЛЬНОЕ ОКНО*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  padding: 60px 0;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 65px 70px;
  background-color: #ffffff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.modal-auth {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button path {
  fill: #000000;
}

.modal-content h2 {
  max-width: 475px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.field-group-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-self: center;
  padding-right: 10px;
}

.field-group input,
.visitors-wrapper input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
}

.visitors-wrapper input {
  text-align: center;
}

.field-group input {
  border-radius: 4px;
  padding: 12px 50px 12px 20px;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.field-group span {
  font-size: 16px;
  line-height: 21px;
  min-height: 21px;
  color: #333333;
  grid-column: 2 / 4;
  margin-top: 4px;
  padding-left: 20px;
}

.field-group .red {
  color: #ff5757;
}

.auth-form .field-group,
.field-group-visitors {
  margin: 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.search-hotel-button,
.visitors-button {
  margin: 0;
  font-family: inherit;
  border: transparent;
  text-align: center;
}

.visitors-button {
  background-color: #f2f2f2;
  border: 1px solid transparent;
}

.button-minus {
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-minus::before {
  content: "";
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
}

.button-plus {
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-plus path {
  fill: rgba(117, 97, 87, 0.3);
}

.visitors-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-group {
  display: grid;
  grid-template-columns: auto 400px 40px;
}

.field-group-visitors input {
  border: 2px solid transparent;
}

.field-group-visitors,
.visitors-children {
  min-width: 247px;
  display: grid;
  grid-template-columns: auto 40px 30px 40px;
  grid-template-rows: 48px;
}

.visitors-children {
  min-width: 242px;
  grid-template-columns: 1fr 40px 30px 40px;
}

.visitors-adults {
  margin-right: 20px;
}

.adults {
  margin-right: 36px;
}

.children {
  position: relative;
  display: block;
  min-height: 26px;
  padding: 0;
}

.children-label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendar::after {
  content: "";
  position: relative;
  display: block;
  background-image: url("../icons/calendar_icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 16px;
  height: 15px;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  place-self: center center;
  opacity: 0.3;
  right: 10px;
}

.search-hotel-button {
  margin-top: 25px;
  padding: 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  border-radius: 10px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 26px;
  height: 26px;
  display: block;
  fill: #83b3d3;
  border-radius: 50%;
}

.tooltip-text {
  position: absolute;
  width: 256px;
  min-height: 143px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
  padding: 20px 20px 23px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.tooltip-text::before {
  content: "";
  display: block;
  width: 16px;
  height: 9px;
  position: absolute;
  background-image: url("../icons/tooltiptext_icon.svg");
  background-repeat: no-repeat;
  background-size: 14px 9px;
  top: -9px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-within + .tooltip-text {
  display: block;
}

.modal-content input:not(:disabled):hover,
.modal-content input:not(:disabled):focus,
.modal-content input:disabled,
.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-content input:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.modal-close-button:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.button-minus:hover::before,
.button-minus:focus::before {
  background-color: #000000;
}

.button-minus:active::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-plus:hover path,
.button-plus:focus path {
  fill: #000000;
}

.button-plus:active path {
  fill: rgba(0, 0, 0, 0.2);
}

.search-hotel-button:hover,
.search-hotel-button:focus {
  background-color: #68a2ca;
}

.search-hotel-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotel-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}
